
<form>
<label>id</label>
            <input ng-model='set.id' autofocus type='text'> <br/><label>username</label>
            <input ng-model='set.username' autofocus type='text'> <br/><label>password</label>
            <input ng-model='set.password' autofocus type='text'> <br/><label>email</label>
            <input ng-model='set.email' autofocus type='text'> <br/><label>role_id</label>
            <input ng-model='set.role_id' autofocus type='text'> <br/><label>activated</label>
            <input ng-model='set.activated' autofocus type='text'> <br/><label>banned</label>
            <input ng-model='set.banned' autofocus type='text'> <br/><label>ban_reason</label>
            <input ng-model='set.ban_reason' autofocus type='text'> <br/><label>new_password_key</label>
            <input ng-model='set.new_password_key' autofocus type='text'> <br/><label>new_password_requested</label>
            <input ng-model='set.new_password_requested' autofocus type='text'> <br/><label>new_email</label>
            <input ng-model='set.new_email' autofocus type='text'> <br/><label>new_email_key</label>
            <input ng-model='set.new_email_key' autofocus type='text'> <br/><label>last_ip</label>
            <input ng-model='set.last_ip' autofocus type='text'> <br/><label>last_login</label>
            <input ng-model='set.last_login' autofocus type='text'> <br/><label>created</label>
            <input ng-model='set.created' autofocus type='text'> <br/><label>modified</label>
            <input ng-model='set.modified' autofocus type='text'> <br/>		

<button ng-click=create(set) class='btn ' >Create</button>

</form>
