
<h1>Project {{user.id}}</h1>
<div class='row'>
<table class='table table-striped span3'> <tr>
	<td> id</td>  
	<td>{{user.id}}</td>
	</tr><tr>
	<td> username</td>  
	<td>{{user.username}}</td>
	</tr><tr>
	<td> password</td>  
	<td>{{user.password}}</td>
	</tr><tr>
	<td> email</td>  
	<td>{{user.email}}</td>
	</tr><tr>
	<td> role_id</td>  
	<td>{{user.role_id}}</td>
	</tr><tr>
	<td> activated</td>  
	<td>{{user.activated}}</td>
	</tr><tr>
	<td> banned</td>  
	<td>{{user.banned}}</td>
	</tr><tr>
	<td> ban_reason</td>  
	<td>{{user.ban_reason}}</td>
	</tr><tr>
	<td> new_password_key</td>  
	<td>{{user.new_password_key}}</td>
	</tr><tr>
	<td> new_password_requested</td>  
	<td>{{user.new_password_requested}}</td>
	</tr><tr>
	<td> new_email</td>  
	<td>{{user.new_email}}</td>
	</tr><tr>
	<td> new_email_key</td>  
	<td>{{user.new_email_key}}</td>
	</tr><tr>
	<td> last_ip</td>  
	<td>{{user.last_ip}}</td>
	</tr><tr>
	<td> last_login</td>  
	<td>{{user.last_login}}</td>
	</tr><tr>
	<td> created</td>  
	<td>{{user.created}}</td>
	</tr><tr>
	<td> modified</td>  
	<td>{{user.modified}}</td>
	</tr>		

</table>
</div>
